## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## VS Code
.vscode/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Build
*.nupkg
*.snupkg
project.nuget.cache
*.log
